<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.change_vision.astah.excel2er.actionSet">
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="excel2er.actions.ImportExcelToEREntityAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/er/"
               id="excel2er.actions.ImportExcelToEREntityAction">
         </action>
         <action
			   label="%menu_domain_label"
               icon="icons/sample.gif"
               class="excel2er.actions.ImportExcelToERDomainAction"
               tooltip="%menu_domain_tooltip"
               menubarPath="tool/er/"
               id="excel2er.actions.ImportExcelToERDomainAction">
         </action>
     </actionSet>
   </extension>
</plugin>
